@import "mixin.styl"

body, html
  line-height: 1
  font-family: 'PingFang-SC-Regular'
  user-select: none
  -webkit-tap-highlight-color: transparent

.padding-top-100 {
  padding-top: rpx(100);
}

.width-212 {
  width: rpx(212);
}
