@import "mixin.styl"

body, html
  user-select: none
  font-family: PingFang-SC-Regular
  -webkit-tap-highlight-color: transparent
  background-color: #fff;

.padding-top-100 {
  padding-top: rpx(100);
}

.width-212 {
  width: rpx(212);
}
