@import "mixin.styl"

body, html
  background-color: #fff
  font-family: PingFang-SC-Regular

.padding-top-100 {
  padding-top: rpx(100);
}

.width-212 {
  width: rpx(212);
}

.drop-down-status
  text-align: center;
  font-size: rpx(24);
  padding: rpx(20);
  color: #ccc;

.clearfix:after, .clearfix:before {
  content: ""
  display: table
}

.clearfix:after {
  clear: both;
}
