@import "~public/stylus/mixin";

.btn_confirm {
  font-size: rpx(32);
  border-radius: rpx(8);
  width: rpx(660);
  margin: rpx(60) rpx(45);
  height: rpx(76);
  text-align: center;
  line-height: rpx(76);
  background: #EA281A;
  color: #fff;
}

.btn_confirm.disable {
  background: #eeeeee;
  color: #999999;
}
